<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th id="date" (click)="orderByDate()">Date <i></i></th>
      <th id="label" (click)="orderByLabel()">Label <i></i></th>
      <th id="amount" (click)="orderByAmount()">Amount <i></i></th>
      <th id="balance" (click)="orderByBalance()">Balance <i></i></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let transaction of transaction_list"
      routerLink="/detail/{{ transaction.id }}"
    >
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.label }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.balance }}</td>
    </tr>
  </tbody>
</table>
